In [23]:
import numpy as np # for Linear algebra
import pandas as pd # for data manipulation/CSV I/O
pd.options.mode.chained_assignment = None    # To avoid the SettingWithCopyWarning

In [28]:
deliveries=pd.read_csv("dataset/deliveries.csv")
matches =pd.read_csv("dataset/matches.csv")
bowlers = pd.read_csv("dataset/bowlers.csv")

In [29]:
bowlers.head()

,Bowler,Matches,Wickets,Runs,Overs,Average,Economy,SR,BBI,3WI,Fours,Sixes
0,A Ashish Reddy,20,18,400,45,22.22,8.89,15.00,3/25,1,26,20
1,A Chandila,12,11,245,39,22.27,6.28,21.27,4/13,1,17,10
2,A Choudhary,5,5,144,17,28.80,8.47,20.40,2/17,0,13,6
3,A Dananjaya,1,0,48,4,48.00,12.00,0.00,0/48,0,2,4
4,A Flintoff,3,2,106,11,53.00,9.64,33.00,1/11,0,7,7

In [30]:
model_bowlers = bowlers
model_bowlers['Big'] = np.around(model_bowlers['3WI'] / model_bowlers['Matches'],4)
model_bowlers['Performance'] = np.around(model_bowlers['3WI'] / (model_bowlers['Matches'] - model_bowlers['3WI']),4)

model_bowlers.drop(['Runs','Overs','BBI','3WI','Fours','Sixes'],axis=1,inplace = True)
print(model_bowlers.head())

           Bowler  Matches  Wickets  Average  Economy     SR     Big  \
0  A Ashish Reddy       20       18    22.22     8.89  15.00  0.0500
1      A Chandila       12       11    22.27     6.28  21.27  0.0833
2     A Choudhary        5        5    28.80     8.47  20.40  0.0000
3     A Dananjaya        1        0    48.00    12.00   0.00  0.0000
4      A Flintoff        3        2    53.00     9.64  33.00  0.0000

   Performance
0       0.0526
1       0.0909
2       0.0000
3       0.0000
4       0.0000

In [31]:
export_csv = model_bowlers.to_csv ('dataset/model_bowlers.csv', index = None, header=True)