In [89]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
from matplotlib import style
style.use('fivethirtyeight')

In [90]:
matches=pd.read_csv('dataset/matches.csv')
deliveries=pd.read_csv('dataset/deliveries.csv')

In [91]:
batsmen = deliveries.groupby(['match_id','inning','batting_team','batsman'])
batsman = batsmen['batsman_runs'].sum().reset_index()
print(batsman.head(10))

   match_id  inning                 batting_team        batsman  batsman_runs
0         1       1          Sunrisers Hyderabad    BCJ Cutting            16
1         1       1          Sunrisers Hyderabad      DA Warner            14
2         1       1          Sunrisers Hyderabad       DJ Hooda            16
3         1       1          Sunrisers Hyderabad   MC Henriques            52
4         1       1          Sunrisers Hyderabad       S Dhawan            40
5         1       1          Sunrisers Hyderabad   Yuvraj Singh            62
6         1       2  Royal Challengers Bangalore    A Choudhary             6
7         1       2  Royal Challengers Bangalore       CH Gayle            32
8         1       2  Royal Challengers Bangalore      KM Jadhav            31
9         1       2  Royal Challengers Bangalore  Mandeep Singh            24

In [92]:
dismissals = deliveries[pd.notnull(deliveries['player_dismissed'])]
dismissals = dismissals[['match_id','inning','player_dismissed','bowler','dismissal_kind','fielder']]
dismissals.rename(columns={'player_dismissed':'batsman'},inplace=True)
batsmen=batsman.merge(dismissals,left_on=['match_id','inning','batsman'],right_on=['match_id','inning','batsman'], how= "left")

batsmen['dismissal_kind']=batsmen.dismissal_kind.fillna('not_out')

batsmen['fielder']=batsmen.fielder.fillna('-')
batsmen.rename(columns={'batsman_runs':'runs'},inplace=True)
print (batsmen.head(15))

    match_id  inning                 batting_team        batsman  runs  \
0          1       1          Sunrisers Hyderabad    BCJ Cutting    16
1          1       1          Sunrisers Hyderabad      DA Warner    14
2          1       1          Sunrisers Hyderabad       DJ Hooda    16
3          1       1          Sunrisers Hyderabad   MC Henriques    52
4          1       1          Sunrisers Hyderabad       S Dhawan    40
5          1       1          Sunrisers Hyderabad   Yuvraj Singh    62
6          1       2  Royal Challengers Bangalore    A Choudhary     6
7          1       2  Royal Challengers Bangalore       CH Gayle    32
8          1       2  Royal Challengers Bangalore      KM Jadhav    31
9          1       2  Royal Challengers Bangalore  Mandeep Singh    24
10         1       2  Royal Challengers Bangalore      S Aravind     0
11         1       2  Royal Challengers Bangalore      SR Watson    22
12         1       2  Royal Challengers Bangalore      STR Binny    11
13         1       2  Royal Challengers Bangalore    Sachin Baby     1
14         1       2  Royal Challengers Bangalore        TM Head    30

          bowler dismissal_kind        fielder
0            NaN        not_out              -
1    A Choudhary         caught  Mandeep Singh
2            NaN        not_out              -
3      YS Chahal         caught    Sachin Baby
4      STR Binny         caught    Sachin Baby
5       TS Mills         bowled              -
6            NaN        not_out              -
7       DJ Hooda         caught      DA Warner
8   MC Henriques        run out    BCJ Cutting
9    Rashid Khan         bowled              -
10       A Nehra         bowled              -
11       A Nehra         caught   MC Henriques
12       B Kumar         caught   Yuvraj Singh
13  Bipul Sharma         caught   MC Henriques
14   Rashid Khan         caught   Yuvraj Singh

In [102]:
#Number of innings
no_of_innings=batsmen.groupby(['inning','batsman']).size().reset_index()
no_of_innings=no_of_innings.groupby(['batsman']).sum().reset_index()
no_of_innings=no_of_innings.drop(['inning'],1)
no_of_innings.rename(columns={0:'no_of_innings'},inplace=True)

print(no_of_innings)

                  batsman  no_of_innings
0          A Ashish Reddy             23
1              A Chandila              2
2                A Chopra              6
3             A Choudhary              3
4             A Dananjaya              1
5              A Flintoff              3
6                 A Hales              6
7                A Kumble             15
8                A Mishra             50
9                A Mithun              6
10               A Mukund              2
11                A Nehra             17
12                A Singh              5
13              A Symonds             36
14               A Uniyal              2
15                A Zampa              2
16            AA Bilakhia              7
17              AA Chavan              3
18        AA Jhunjhunwala             15
19              AA Noffke              1
20             AB Agarkar             18
21              AB Barath              3
22               AB Dinda             16
23            AB McDonald              9
24         AB de Villiers            130
25            AC Blizzard              7
26           AC Gilchrist             80
27              AC Thomas              4
28               AC Voges              7
29         AD Mascarenhas             11
..                    ...            ...
458               V Kohli            156
459        V Pratap Singh              1
460              V Sehwag            104
461             V Shankar             13
462                VH Zol              2
463              VR Aaron              9
464             VRV Singh              2
465              VS Malik              2
466           VS Yeligati              1
467            VVS Laxman             20
468             VY Mahesh              5
469          Vishnu Vinod              3
470              W Jaffer              8
471               WA Mota              8
472            WD Parnell             12
473               WP Saha             88
474            WPUJC Vaas             11
475     Washington Sundar             10
476  X Thalaivan Sargunam              1
477      Y Gnaneswara Rao              1
478               Y Nagar             20
479       Y Venugopal Rao             52
480            YA Abdulla              1
481             YK Pathan            147
482             YS Chahal              9
483           YV Takawale             10
484         Yashpal Singh              4
485           Younis Khan              1
486          Yuvraj Singh            123
487                Z Khan             27

[488 rows x 2 columns]

In [105]:
#dismissal_types
dismissal_group=batsmen[['dismissal_kind','batsman']]
dismissal_group=dismissal_group.groupby(['batsman','dismissal_kind']).size().reset_index()
#print(dismissal_group)
#dismissal_group.rename(columns={'0':'No_of_times'},inplace=True)
not_outs=dismissal_group[dismissal_group['dismissal_kind']=='not_out']
not_outs=not_outs.drop(['dismissal_kind'],1)
not_outs.rename(columns={0:'no_of_not_outs'},inplace=True)
print (not_outs.head(5))

           batsman  no_of_not_outs
2   A Ashish Reddy               8
4       A Chandila               2
10     A Choudhary               2
11     A Dananjaya               1
14      A Flintoff               1

In [95]:
total_runs=batsmen.groupby(['batsman'] ).sum().reset_index()
total_runs=total_runs.drop(['inning','match_id'],1)
batsmen_overall=no_of_innings.merge(total_runs,on='batsman')
batsmen_overall=batsmen_overall.merge(not_outs,on='batsman')
batsmen_overall['batting_average']=batsmen_overall['runs']/(batsmen_overall['no_of_innings']-batsmen_overall['no_of_not_outs'])
batsmen_overall=batsmen_overall.replace([np.inf, -np.inf], 0)
batsmen_overall.rename(columns={'batsman':'player'},inplace=True)
averages = batsmen_overall[['player','batting_average']]
print(averages.head(4))
#print(batsmen_overall.head(5))
#kohli = batsmen_overall[batsmen_overall['player'] == 'V Kohli']
#print(kohli)

           player  batting_average
0  A Ashish Reddy        18.666667
1      A Chandila         0.000000
2     A Choudhary        25.000000
3     A Dananjaya         0.000000

In [ ]:
## we have to find statistics for bowlers